#Python/Django
*.pyc
__pycache__/
*.log
*.sqlite3
db.sqlite3

# Virtual environment
venv/
.venv

#Media Files
/media

#Environment variables
env/
.env

#IDE/editor settings
.vscode/
*.swp

#Vue/Frontend
.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

